/MGPCL.VC*
/.vs/
/test/x64/
/test/citylots.json
/x64/
/LineCounter.jar
/CodeStats.jar
/fix_tabs.sh
/test/test.png
/net-logger/.idea/
/net-logger/.gradle/
/net-logger/build/
/build/
/.idea/
/.vscode/
/OpenSSL/
/test/insert_result.ini
/test/test.ini
/test/random.csv
CMakeCache.txt
Makefile
CMakeFiles/
cmake_install.cmake
*.vcxproj.user
*.cbp
*.swp
