/MGPCL.VC.db
/.vs/
/test/x64/
/test/citylots.json
/x64/
/LineCounter.jar
/CodeStats.jar
/fix_tabs.sh
/test/test.png
/net-logger/.idea/
/net-logger/.gradle/
/net-logger/gradle/
/net-logger/build/
/net-logger/gradlew
/net-logger/gradlew.bat
/net-logger/net-logger.iml
/net-logger/out/
/build/
/.idea/
/.vscode/
/OpenSSL/
/test/insert_result.ini
/test/test.ini
/test/random.csv
/Debug/
CMakeCache.txt
Makefile
CMakeFiles/
cmake_install.cmake
*.vcxproj.user
*.cbp
*.swp
